.MainText {
    font-family: 'Avenir Next' !important;
    font-weight: 600;
    color: #571846;
    font-size: 66px;
    margin-bottom: 20px;
}

.SubText {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 900;
    color: #571846;
    text-align: right;
    font-size: 17px;
}





/*zipcode 20.1px*/

/*choose subject 24px*/

/*go button 28px*/

